input[type="search"] {
  border-radius: 10px;
  width: 75%;
  height: 40px;
  background-color: black;
  margin: 10px auto 10px auto;
  font-weight: bold;
  color: white;
  padding-left: 10px;
  border: 1px solid white;
}

input[type="search"]:focus {
  outline-color: darkred;
  background-color: darkred;
}

input[type="search"]::placeholder {
  color: white;
}
